@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400&family=Tilt+Prism&display=swap');

body {
    font-family: 'Space Mono', monospace;
}

.pic-box {
    width: 800px;
    margin: 0 auto;
    text-align: center;
}

.pic-box img {
    width: 100px;
    height: 100px;
    object-fit: contain;
    border-radius: 50px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: transform 1s;
    margin: 20px;
}
.pic-box img:nth-of-type(2) {
    object-position: 120% 50%;
}
.pic-box img:hover {
    transform: scale(1.2);
}

.box {
    padding: 30px;
    margin: 0 auto;
    width: 500px;
    border: 2px solid rgb(36, 123, 14);

}

.veg {
    background-image: url("grocery.jpg");
    background-size: cover;
}


